#wrapper {
	width: 800px;	
	font-size: 15px;
	font-family: tahoma;
	margin-right: auto;
	margin-left: auto;
}

a {    
    text-decoration: none;
}

header {
	padding-top: 10px;	
	height: 150px;	
	background-color: #CABBB7;
}

header img {
	float: right;
	margin-right: 25px;
	margin-top: 25px;
	width: 250px;
}

header p {
	font-size: 30px;
	text-align: center;
}

nav {   
    background-color: #C65252;
    width: 800px;
    height: 30px;
    direction: rtl;    
}	

nav ul {
    list-style-type: none;
    margin: 0px;
}

nav li {
    display: inline; 
            
}

nav li a {
	color: #F0ECEC;
    font-weight: bold;
    font-size: 20px;
}

h1 {
	text-align: center;
}

#samsung {
	position: relative;
	margin-bottom: 15px;
	margin-bottom: 15px;
}

.samsung img {
	width: 100%;
	height: 350px;
}

#package {
	width: 100%;
	height: 250px;
}

#atm {
	float: left;
	width: 50%;		
}

.atm img {
	width: 100%;
}


#scooter {
	float: left;
	width: 50%;		
}

.scooter img {
	width: 100%;
}

figcaption {
	text-align: center;	
	font-weight: bold;		
}

#footer {	
	background-color: #CABBB7;
	height: 100px;
	display: flex; 
    justify-content: center; 
    align-items: center;		
	padding-top: 15px;
	margin-top: 15px;
	width: 100%;
}

.footer img {
	width: 250px;
	
}
